---
layout: default
---

<div class="container">
  <div id="particles-js" style="position: absolute; z-index:-9; height:200%; width:80%;"></div>

  <div class="row">
  </div>
  <div class="row">
  
    <div class="col-md-6">
      <h1 class="mt-5 ">Gizem Kılıçaslan</h1>
      <h4>Flutter Developer</h4>
    </div>
    <div class="col-md-6 pt-5 mt-5 main-section">
      
      <div class="avatar-section mt2 ml-5">
        <img
          class="avatar img-fluid mx-auto"
          alt="Gizem Kılıçaslan's Profile Picture"
          src="https://avatars.githubusercontent.com/u/61394844?v=4"
        />


        <span class="social"
          ><img alt="Github Icon" class="icn" src="../contents/assets/icons/github.svg" />
          <a rel="nofollow" href="https://github.com/gig-i" target="_blank"
            >github.com/gig-i</a
          >
          <img alt="Linkedin Icon" class="icn" src="../contents/assets/icons/linkedin.svg" />
          <a rel="nofollow" href="https://www.linkedin.com/in/gizem-k%C4%B1l%C4%B1%C3%A7aslan-374290239/" target="_blank"
            >linkedin.com/gizemkilicaslan</a
          >
        </span>
      </div>
    </div>
  </div>

  <div class="row info-section mx-auto text-center w-50">
    <h1>Hi, I'm Gizem Kılıçaslan</h1>
    <br /><br /><br />
    <p>
      I was born in Izmır. I am Flutter Developer.
    </p>
    <br /><br /><br /><br /><br /><br />
    <img
      src="https://github-readme-stats.vercel.app/api/top-langs/?username=gig-i&layout=compact"
      alt="Gizem Kılıçaslan's Most Used Languages"
    />
    <br />
    <br />
    <br /><br />
    <br /><br />

    <p>
      If you want to work with me, you can reach me on the
      <a href="{{sitebase.url}}/contact" title="Contact page">contact page.</a>
    </p>
  </div>
</div>
